<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'food_application/output.css' %}">
        <title>LaBar Recipe Catalog</title>
        {% block extra_head %}{% endblock %}
    </head>
    <body class="bg-gray-50">
        <!-- Include Navbar -->
        {% include 'food_application/base/navbar.html' %}

        <!-- Display Messages -->
        {% if messages %}
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-4">
                {% for message in messages %}
                    <div class="mb-4 p-4 rounded-md
                                {% if message.tags == 'error' %}
                                    bg-red-100 text-red-800
                                {% elif message.tags == 'success' %}
                                    bg-green-100 text-green-800
                                {% else %}
                                    bg-blue-100 text-blue-800
                                {% endif %}
                               ">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Main Content -->
        {% block body %}{% endblock %}
    </body>
</html>